<div id="devices-main-area">
  <div class="left-area">
    <div class="profile">
      <div class="user-image">
        <img src="http://res.cloudinary.com/easonchang/image/upload/v1504656789/IMG_9647_wcqwbp.jpg">
      </div>
      <div class="username">Eason Chang</div>
    </div>
    <div class="menu">
      <div class="menu-item menu-item-selected"><div class="menu-text">Devices</div></div> 
      <div class="menu-item"><div class="menu-text">Account</div></div>
      <div class="menu-item"><div class="menu-text">System</div></div>
    </div>
  </div>
  <div class="right-area">
    <div class="top-bar">
      <div class="bar-item list-all">All devices (<%= @devices.count %>)</div>
      <div class="bar-item sorted-by">Sorted by: <b>ID</b></div>
      <input type="text" class="bar-item search" placeholder="Search..."></input>
    </div>
    <%= link_to '/settings/devices/new' do %><button class="add-device">Add device +</button><% end %>
    <div class="devices-table">
      <div class="columes">
        <div class="index-col">Index</div>
        <div class="id-col">Label</div>
        <div class="wine-col">Wine</div>
        <div class="status-col">Status</div>
      </div>
      <div class="devices">
        <% @devices.each_with_index do |device| %>
          <div class="this-is-device">
            <% if device.status == "Active" %>
              <div class="status-bar-active"></div>
            <% elsif device.status == "Ready" %>
              <div class="status-bar-ready"></div>
            <% elsif device.status == "Disactive" %>
              <div class="status-bar-disactive"></div>
            <% end %>
            
            <div class="index"><%= device.id %></div>
            <div class="id">#<%= device.label %></div>
            <div class="wine"><%= device.wine %></div>
            <div class="status">
              <% if device.status == "Active" %>
                <div class="status-active"></div>
              <% elsif device.status == "Ready" %>
                <div class="status-ready"></div>
              <% elsif device.status == "Disactive" %>
                <div class="status-disactive"></div>
              <% end %>
              <div class="status-val"><%= device.status %></div>
            </div>
            <button class="more-button">></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>