<div id="index-main-area">
  <!-- <button id="view-all">View all</button> -->
  <button id="switch-left"><</button>
  <button id="switch-right">></button>
  <div id="center-circle"></div>
  <div id="bottom-table"></div>
  <div id="bottom-table-overlay"></div>
  <div id="wines">

    <% @wines.each_with_index do |wine, index|%>
      <div class="wine
        <% if index == 0 %>
          <%= 'wine-left-2 wine1' %>
        <% elsif index == 1 %>
          <%= 'wine-left-1 wine2' %>
        <% elsif index == 2 %>
          <%= 'wine-center wine3' %>
        <% elsif index == 3 %>
          <%= 'wine-right-1 wine4' %>
        <% else %>
          <%= 'wine-right-2 wine5' %>
        <% end %>
      ">
        <div class="wine-img">
          <img src="<%= wine.imgurl %>">
        </div>
        <h1 class="wine-title"><i><%= wine.name %></i></h1>
        <div class="wine-description">
          <p class="description-left">
            Status:<br/>
            Score:<br/>
            ABV:<br/>
            Origin<br/>
            Age:
          </p>
          <p class="description-right">
            <span class="status"><%= wine.status %>%</span></span><br/>
            <span class="score"><%= wine.score %></span><br/>
            <span class="alc"><%= wine.abv %>%</span><br/>
            <span class="origin"><%= wine.origin %></span><br/>
            <span class="age"><%= wine.age %> years</span> <span class="age-small">(<%= wine.brewdate.year %>)</span>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>



<% @wines.each_with_index do |wine, index|%>
  <div class="detail-main-area <%= 'detail'+((index+1).to_s) %>" style="display: none;">
    <div id="left-bg-cover"></div>
    <button class="back"><</button>
    <div class="wine-img">
        <img src="<%= wine.imgurl %>">
    </div>
    <div class="wine-details">
      <h1 class="wine-title"><i><%= wine.name %></i></h1>
      <div class="wine-description">
        <p class="description-left">
          Status:<br/>
          Alc:<br/>
          Origin<br/>
          Age:<br/>
          Keep since:
        </p>
        <p class="description-right">
          <span class="status"><%= wine.status %>%</span><br/>
          <span class="alc"><%= wine.abv %>%</span><br/>
          <span class="origin"><%= wine.origin %></span><br/>
          <span class="age"><%= wine.age %> years</span> <span class="age-small">(<%= wine.brewdate.year %>)</span><br/>
          <span class="keep-since"><%= wine.keepdate %></span>
        </p>
      </div>
      <div id="score">Score: <span class="score-num"><%= wine.score %></span></div>
      <div id="color"><div class="color-label">Optical Density:</div>
        <canvas id="color-chart<%= (index+1).to_s %>" width="100%"></canvas>
      </div>
      <div id="weight" style="display: none;"><div class="weight-label">Weight: <span class="weight-value"><%= @masses.last %>g</span></div>
        <canvas id="weight-chart<%= (index+1).to_s %>" width="100%"></canvas>
      </div>
      <div id="temperature"><div class="temperature-label">Temperature(℃): <span class="temperature-value"><%= @temperatures.last.to_i %></span></div>
        <canvas id="temperature-chart<%= (index+1).to_s %>" width="100%"></canvas>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).on("turbolinks:load", function(){
    var ctx = document.getElementById("color-chart5")
    if(ctx != null) {
      ctx = ctx.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              //labels: ["7:30", "7:31", "7:32", "7:33"],
              labels: [<%= @timelabels.join(',') %>],
              datasets: [
                {
                  label: 'White',
                  //data: [314, 318, 324, 316],
                  data: [<%= @whites.join(',') %>],
                  borderColor: 'rgba(255,255,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Red',
                  //data: [521, 564, 543, 531],
                  data: [<%= @reds.join(',') %>],
                  borderColor: 'rgba(255,0,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Blue',
                  //data: [444, 432, 431, 452],
                  data: [<%= @blues.join(',') %>],
                  borderColor: 'rgba(0,0,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Green',
                  //data: [642, 643, 651, 666],
                  data: [<%= @greens.join(',') %>],
                  borderColor: 'rgba(0,255,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Yellow',
                  //data: [316, 312, 341, 330],
                  data: [<%= @yellows.join(',') %>],
                  borderColor: 'rgba(255,255,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Purple',
                  // data: [222, 231, 212, 231],
                  data: [<%= @purples.join(',') %>],
                  borderColor: 'rgba(255,0,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Cyan',
                  // data: [432, 444, 454, 424],
                  data: [<%= @violates.join(',') %>],
                  borderColor: 'rgba(0,255,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                }
              ]
          },
          options: {
          }
      });
    }
    var ctx = document.getElementById("weight-chart5");
    if(ctx != null){
      ctx = ctx.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              // labels: ["7:30", "7:31", "7:32", "7:33"],
              labels: [<%= @timelabels.join(',') %>],
              datasets: [{
                  label: 'Weight',
                  data: [<%= @masses.join(',') %>],
                  borderColor: 'rgba(246,200,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
              }]
          },
          options: {
          }
      });
    }
    var ctx = document.getElementById("temperature-chart5");
    if(ctx != null){
      ctx = ctx.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              // labels: ["7:30", "7:31", "7:32", "7:33"],
              labels: [<%= @timelabels.join(',') %>],
              datasets: [{
                  label: 'Temperature',
                  // data: [22.1, 22.6, 22.9, 21.4],
                  data: [<%= @temperatures.join(',') %>],
                  borderColor: 'rgba(246,200,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
              }]
          },
          options: {
          }
      });
    } 








    var ctx = document.getElementById("color-chart4")
    if(ctx != null) {
      ctx = ctx.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              //labels: ["7:30", "7:31", "7:32", "7:33"],
              labels: [<%= @timelabels4.join(',') %>],
              datasets: [
                {
                  label: 'White',
                  //data: [314, 318, 324, 316],
                  data: [<%= @whites4.join(',') %>],
                  borderColor: 'rgba(255,255,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Red',
                  //data: [521, 564, 543, 531],
                  data: [<%= @reds4.join(',') %>],
                  borderColor: 'rgba(255,0,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Blue',
                  //data: [444, 432, 431, 452],
                  data: [<%= @blues4.join(',') %>],
                  borderColor: 'rgba(0,0,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Green',
                  //data: [642, 643, 651, 666],
                  data: [<%= @greens4.join(',') %>],
                  borderColor: 'rgba(0,255,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Yellow',
                  //data: [316, 312, 341, 330],
                  data: [<%= @yellows4.join(',') %>],
                  borderColor: 'rgba(255,255,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Purple',
                  // data: [222, 231, 212, 231],
                  data: [<%= @purples4.join(',') %>],
                  borderColor: 'rgba(255,0,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Cyan',
                  // data: [432, 444, 454, 424],
                  data: [<%= @violates4.join(',') %>],
                  borderColor: 'rgba(0,255,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                }
              ]
          },
          options: {
          }
      });
    }
    var ctx = document.getElementById("weight-chart4");
    if(ctx != null){
      ctx = ctx.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              // labels: ["7:30", "7:31", "7:32", "7:33"],
              labels: [<%= @timelabels4.join(',') %>],
              datasets: [{
                  label: 'Weight',
                  data: [<%= @masses4.join(',') %>],
                  borderColor: 'rgba(246,200,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
              }]
          },
          options: {
          }
      });
    }
    var ctx = document.getElementById("temperature-chart4");
    if(ctx != null){
      ctx = ctx.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              // labels: ["7:30", "7:31", "7:32", "7:33"],
              labels: [<%= @timelabels4.join(',') %>],
              datasets: [{
                  label: 'Temperature',
                  // data: [22.1, 22.6, 22.9, 21.4],
                  data: [<%= @temperatures4.join(',') %>],
                  borderColor: 'rgba(246,200,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
              }]
          },
          options: {
          }
      });
    } 






    var ctx = document.getElementById("color-chart3")
    if(ctx != null) {
      ctx = ctx.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              //labels: ["7:30", "7:31", "7:32", "7:33"],
              labels: [<%= @timelabels3.join(',') %>],
              datasets: [
                {
                  label: 'White',
                  //data: [314, 318, 324, 316],
                  data: [<%= @whites3.join(',') %>],
                  borderColor: 'rgba(255,255,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Red',
                  //data: [521, 564, 543, 531],
                  data: [<%= @reds3.join(',') %>],
                  borderColor: 'rgba(255,0,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Blue',
                  //data: [444, 432, 431, 452],
                  data: [<%= @blues3.join(',') %>],
                  borderColor: 'rgba(0,0,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Green',
                  //data: [642, 643, 651, 666],
                  data: [<%= @greens3.join(',') %>],
                  borderColor: 'rgba(0,255,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Yellow',
                  //data: [316, 312, 341, 330],
                  data: [<%= @yellows3.join(',') %>],
                  borderColor: 'rgba(255,255,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Purple',
                  // data: [222, 231, 212, 231],
                  data: [<%= @purples3.join(',') %>],
                  borderColor: 'rgba(255,0,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Cyan',
                  // data: [432, 444, 454, 424],
                  data: [<%= @violates3.join(',') %>],
                  borderColor: 'rgba(0,255,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                }
              ]
          },
          options: {
          }
      });
    }
    var ctx = document.getElementById("weight-chart3");
    if(ctx != null){
      ctx = ctx.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              // labels: ["7:30", "7:31", "7:32", "7:33"],
              labels: [<%= @timelabels3.join(',') %>],
              datasets: [{
                  label: 'Weight',
                  // data: [1013, 1015, 1012, 1007],
                  data: [<%= @masses3.join(',') %>],
                  borderColor: 'rgba(246,200,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
              }]
          },
          options: {
          }
      });
    }
    var ctx = document.getElementById("temperature-chart3");
    if(ctx != null){
      ctx = ctx.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              // labels: ["7:30", "7:31", "7:32", "7:33"],
              labels: [<%= @timelabels3.join(',') %>],
              datasets: [{
                  label: 'Temperature',
                  // data: [22.1, 22.6, 22.9, 21.4],
                  data: [<%= @temperatures3.join(',') %>],
                  borderColor: 'rgba(246,200,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
              }]
          },
          options: {
          }
      });
    } 





    var ctx = document.getElementById("color-chart2")
    if(ctx != null) {
      ctx = ctx.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              //labels: ["7:30", "7:31", "7:32", "7:33"],
              labels: [<%= @timelabels2.join(',') %>],
              datasets: [
                {
                  label: 'White',
                  //data: [314, 318, 324, 316],
                  data: [<%= @whites2.join(',') %>],
                  borderColor: 'rgba(255,255,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Red',
                  //data: [521, 564, 543, 531],
                  data: [<%= @reds2.join(',') %>],
                  borderColor: 'rgba(255,0,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Blue',
                  //data: [444, 432, 431, 452],
                  data: [<%= @blues2.join(',') %>],
                  borderColor: 'rgba(0,0,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Green',
                  //data: [642, 643, 651, 666],
                  data: [<%= @greens2.join(',') %>],
                  borderColor: 'rgba(0,255,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Yellow',
                  //data: [316, 312, 341, 330],
                  data: [<%= @yellows2.join(',') %>],
                  borderColor: 'rgba(255,255,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Purple',
                  // data: [222, 231, 212, 231],
                  data: [<%= @purples2.join(',') %>],
                  borderColor: 'rgba(255,0,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Cyan',
                  // data: [432, 444, 454, 424],
                  data: [<%= @violates2.join(',') %>],
                  borderColor: 'rgba(0,255,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                }
              ]
          },
          options: {
          }
      });
    }
    var ctx = document.getElementById("weight-chart2");
    if(ctx != null){
      ctx = ctx.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              // labels: ["7:30", "7:31", "7:32", "7:33"],
              labels: [<%= @timelabels2.join(',') %>],
              datasets: [{
                  label: 'Weight',
                  // data: [1013, 1015, 1012, 1007],
                  data: [<%= @masses2.join(',') %>],
                  borderColor: 'rgba(246,200,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
              }]
          },
          options: {
          }
      });
    }
    var ctx = document.getElementById("temperature-chart2");
    if(ctx != null){
      ctx = ctx.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              // labels: ["7:30", "7:31", "7:32", "7:33"],
              labels: [<%= @timelabels2.join(',') %>],
              datasets: [{
                  label: 'Temperature',
                  // data: [22.1, 22.6, 22.9, 21.4],
                  data: [<%= @temperatures2.join(',') %>],
                  borderColor: 'rgba(246,200,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
              }]
          },
          options: {
          }
      });
    } 




    var ctx = document.getElementById("color-chart1")
    if(ctx != null) {
      ctx = ctx.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              //labels: ["7:30", "7:31", "7:32", "7:33"],
              labels: [<%= @timelabels1.join(',') %>],
              datasets: [
                {
                  label: 'White',
                  //data: [314, 318, 324, 316],
                  data: [<%= @whites1.join(',') %>],
                  borderColor: 'rgba(255,255,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Red',
                  //data: [521, 564, 543, 531],
                  data: [<%= @reds1.join(',') %>],
                  borderColor: 'rgba(255,0,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Blue',
                  //data: [444, 432, 431, 452],
                  data: [<%= @blues1.join(',') %>],
                  borderColor: 'rgba(0,0,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Green',
                  //data: [642, 643, 651, 666],
                  data: [<%= @greens1.join(',') %>],
                  borderColor: 'rgba(0,255,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Yellow',
                  //data: [316, 312, 341, 330],
                  data: [<%= @yellows1.join(',') %>],
                  borderColor: 'rgba(255,255,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Purple',
                  // data: [222, 231, 212, 231],
                  data: [<%= @purples1.join(',') %>],
                  borderColor: 'rgba(255,0,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                },
                {
                  label: 'Cyan',
                  // data: [432, 444, 454, 424],
                  data: [<%= @violates1.join(',') %>],
                  borderColor: 'rgba(0,255,255,1)',
                  borderWidth: 1,
                  pointRadius: 3
                }
              ]
          },
          options: {
          }
      });
    }
    var ctx = document.getElementById("weight-chart1");
    if(ctx != null){
      ctx = ctx.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              // labels: ["7:30", "7:31", "7:32", "7:33"],
              labels: [<%= @timelabels1.join(',') %>],
              datasets: [{
                  label: 'Weight',
                  // data: [1013, 1015, 1012, 1007],
                  data: [<%= @masses1.join(',') %>],
                  borderColor: 'rgba(246,200,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
              }]
          },
          options: {
          }
      });
    }
    var ctx = document.getElementById("temperature-chart1");
    if(ctx != null){
      ctx = ctx.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              // labels: ["7:30", "7:31", "7:32", "7:33"],
              labels: [<%= @timelabels1.join(',') %>],
              datasets: [{
                  label: 'Temperature',
                  // data: [22.1, 22.6, 22.9, 21.4],
                  data: [<%= @temperatures1.join(',') %>],
                  borderColor: 'rgba(246,200,0,1)',
                  borderWidth: 1,
                  pointRadius: 3
              }]
          },
          options: {
          }
      });
    } 
  });
</script>