<div id="devices-main-area">
  <div class="left-area">
    <div class="profile">
      <div class="user-image">
        <img src="http://res.cloudinary.com/easonchang/image/upload/v1504656789/IMG_9647_wcqwbp.jpg">
      </div>
      <div class="username">Eason Chang</div>
    </div>
    <div class="menu">
      <div class="menu-item menu-item-selected"><div class="menu-text">Devices</div></div> 
      <div class="menu-item"><div class="menu-text">Account</div></div>
      <div class="menu-item"><div class="menu-text">System</div></div>
    </div>
  </div>
  <div class="right-area">
    <div class="top-bar">
      <div class="bar-item list-all">All devices (<%= @devices.count %>)</div>
      <div class="bar-item sorted-by">Sorted by: <b>ID</b></div>
      <input type="text" class="bar-item search" placeholder="Search..."></input>
    </div>
    <%= link_to '/settings/devices/new' do %><button class="add-device">Add device +</button><% end %>
    <div class="devices-table">
      <div class="devices">
        <h1>Add new device</h1>
        <%= form_for @device, :url => { :controller => 'main', :action => 'create' } do |f| %>
          <%= f.label :label, "Label: " %>
          <%= f.text_field :label, placeholder: "1234" %>
          <%= f.submit "Add" %>
        <% end %>
      </div>
    </div>
  </div>
</div>